@import '../../variables';

footer{
    display: flex;
    flex-direction: column;
    padding: 21px 40px;
    div {
        display: flex;
        margin: 8px 0;
        justify-content: center;
    }
    p{
        font-family: $font;
        font-size: 14px;
    }
    i {
        margin: 0 19px;
    }
    a{
        color: transparent;
    }

    .fa {
        color: black;
    }
}

@media screen and (min-width:768px){
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.9% 6.9%;
    }
}