#hello {
    margin: 24px 0;
    display:  flex;
    flex-direction: column;

    h1 {
        margin: 16px 0;
    }

    .button {
        margin-top: 20px;
        max-width: 226px;
    }
}

@media screen and (min-width:1024px){
    #hello {
        padding: 120px 200px 5px;

        h1 {
            font-size: 64px;
        }

        p {
            width: 75%;
            text-align: justify;
        }

        .button {
            margin-top: 56px;
        }
    }
}