
$secondary-color: #00F3BB;
$a-active: rgba(6,10,36,0.56); 

$menu-font-color-mobile: white;
$menu-background-color-mobile : #0000EC;

$menu-font-color-desktop: #060A24;
$menu-background-color-desktop : white;

$bg-gradient:linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

$text-color : #060A24; 

$font : 'IBM Plex Mono';